.arrivals_goods
	padding-left 39px
	padding-right 39.5px
	max-width 1300px
	margin 100px auto
.goods__wrapper
	margin-top 10%
	display flex
	justify-content space-between
.arrivals__name
	color #000000
	font-set('FuturaPT-Demi',4rem,black,600)
	text-align center
	letter-spacing 1.8px
.description__goods
	text-align center
	margin-top 10%
.new__goods
	cursor pointer
.description__name
	color #000000
	font-family "HelveticaNeueCyr-Light"
	font-size 14px
	font-weight 700
	line-height 24px
	
.button__goods
	width 342px
	height 77px
	display flex
	border 1px solid #e5e5e5
	color #000000
	font-set('FuturaPT-Demi',2rem,black,400)
	font-family "FuturaPT-Demi"
	justify-content center
	line-height 65px
	margin 10% auto
	cursor pointer
	
	
