include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page-index
include ../scripts/scripts
include ../welcome_page/welcome_page
doctype html
html(lang='ru')
	include ../head/head
	+page-index
		block content
		+welcome_page
		+scripts(['app.min.js'])
