.about__shop
	display flex
	flex-direction: column;
	align-items: center;
	max-width: 1300px;
	margin 0 auto
.about__caption
	font-set('FuturaPT-Demi',3rem,black,700)
	line-height 65px
	letter-spacing 1.8px
.about__wrapper
	display flex
	flex-direction column
	align-items center
	margin-top 2%
.about__wrapper
				&::after
					content ''
					display inline-block
					border 1px solid #e5e5e5
					width 652px
					margin-top 3%
.subscribe_desc
	font-set('AGaramondPro-Italic',1rem,black,400)
	text-align center
	line-height 30px
.guide_desc
	font-set('HelveticaNeueCyr-Light',1rem,black,700)
	width: 52.2%;
	line-height 32px
	margin-top 4%
	padding-left: 40px
	padding-right: 40px
.comment__group
	font-set('FuturaPT-Demi',1.5rem,black,700)
	line-height 65px
	letter-spacing 0.78px
	text-align center
p.comment__group
	& span
		color #f14a58
@media screen and (max-width: 760px)
		.subscribe_desc
			max-width 48%
			width 100%
		.guide_desc
			display none
		
	