mixin about__shop()
	+b.about__shop&attributes(attributes)
		+e('h3').caption
			| About shop
		+e('div').wrapper
			p.subscribe_desc
				| Successful companies build on their founding traditions while looking ahead to the future – and that is what we have <br> done at Template
			p.guide_desc
				| Guided by a strong set of values, Template Bensadoun set out to build a «different» kind of modern company, one founded on compassion and ethics, aiming to influence society in both fashion and social responsibility. Simply put, Mr. Bensadoun created a brand with a conscience; a brand that cares.
		+e('div').wrapper
			p.comment__group
				| The Template Group is also well known for its <span> commitment to society </span>
			p.subscribe_desc
				| We place a premium on being a good corporate citizen by working to enrich the communities in which we live and work
			p.guide_desc
				| First and foremost, we are committed to our people; those who have helped us get to where we are today. Though our workforce is as diverse as our geographical imprint, a common thread remains – our team members are passionate, productive and motivated. We provide our team with an abundance of opportunities to help them realize their full potential, because at our core, we believe that when one person grows, so too does the company.