@font-face {
	font-family: 'Open Sans'; /* give your font a name to reference it by later on! */
	src: url(http://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTS3USBnSvpkopQaUR-2r7iU.ttf);
	/* use src to point to the location of your custom font could be from your local server folder (like ./fonts/) or a remote location. */
}
