
@font-face {
	font-family FuturaPT-Light
	src:url(https://nomail.com.ua/files/woff/a15258a71bcff8eb791ad54f27144d48.woff)
}


@font-face {
	font-family HelveticaNeueCyr-Light
	src:url(https://nomail.com.ua/files/woff/8937635a27aa4cc0f7655f5253b245dc.woff)
}

@font-face
	font-family AGaramondPro-Italic
	src: url(https://nomail.com.ua/files/woff/c2703f6d8a685d6a28012809f4f7fbd5.woff)