.products__catalog
	max-width 1300px
	margin 0 auto
	padding-left 59px
	padding-right 59px
	margin-top 20px
.catalog__items
	display flex
	justify-content space-between
	flex-wrap wrap
.product
	margin-top 5%
	cursor pointer
	
.description__product
	text-align center
	margin-top 10%

.name__product
	color #000000
	font-family "HelveticaNeueCyr-Light"
	font-size 14px
	font-weight 700
	line-height 24px
.description__product
	color #000000
	font-family "HelveticaNeueCyr-Light"
	font-size 14px
	font-weight 700
	line-height 24px