mixin container__fluid()
	+b.container__fluid.slider__full&attributes(attributes)
		.core-slider
			.core-slider_viewport
				.core-slider_list
					.core-slider_item.banner_one.banner
					.core-slider_item.banner_two.banner
					.core-slider_item.banner_three.banner
			.core-slider_nav
				.core-slider_arrow.core-slider_arrow__left
				.core-slider_arrow.core-slider_arrow__right
			.core-slider_control-nav

