include ../header-container/header-container
include ../filter__catalog/filter__catalog
include ../footer/footer

mixin catalog_page()
	+b.content&attributes(attributes)
		+header-container()
		+filter__catalog()

