.footer__links
	display block
.caption
	margin-bottom 40px
.caption__link
	font-set('FuturaPT-Demi',1rem,#000,700)
.item-links
	font-set('Helvetica Neue',1rem,#000,400)
	letter-spacing 0.42px
.footer__menu li
	margin-top: 15px