.header
	&__content-up
		display: flex;
		justify-content: space-between
.content__wrapper-left
	flex-basis 75%
	display flex
.content__wrapper-right
	flex-basis 25%
	display: flex;
.logo
	flex  0.5 1
.header__dropdown-wrapper
	flex 1 1

.sign-up
	flex 1 1
.market-bag
	flex: 1 1