.header
	&__content-up
		display: flex;
		justify-content: space-between
		align-items center
	&__content-end
		display flex
		margin-top 3%
		
.content__wrapper-left
	flex-basis 75%
	display flex
.content__wrapper-right
	flex-basis 25%
	display flex
.logo
	flex  0.5 1
.logo a
	font-set('FuturaPT-Heavy',1.5rem,#000,800)
.header__dropdown-wrapper
	flex 1 1
	align-self center
.dropdown
	border none
.sign-up
	
	margin-left auto
.market-bag

	margin-left auto
a {
	text-decoration none
}
.product__search
	align-self: flex-end;
	flex-basis: 25%
	display flex
.product__search-wrapper
	margin-left auto
.search_holder
	outline none
	border-top none
	border-right none
	border-left none
	border-bottom 2px solid  #e5e5e5
	color  #a8a8a8
	font-family: FuturaPT-Light
	&::placeholder
		font-set('FuturaPT-Light',1.2rem,#a8a8a8,400)
	
.links_vision
	display flex
	flex 1 1 100%
	
.sign-up a
	font-set('HelveticaNeueCyr-Light',0.8rem,#000,700)
.market-bag a
	font-set('HelveticaNeueCyr-Light',0.8rem,#000,700)