include  ../header-container/header-container
include  ../container__fluid/container__fluid
include ../banner__sale/banner__sale
include ../arrivals_goods/arrivals_goods
include ../about__shop/about__shop
mixin welcome_page()
	+b.content&attributes(attributes)
		+header-container()
		+container__fluid()
		+banner__sale()
		+arrivals_goods()
		+about__shop()